.App {
  background-color: rgb(255, 255, 253);
  min-height: 100vh;
}

.logo-text-teen {
  font-size: 5rem;
  line-height: 0.9;
}

.logo-text-kitchen {
  font-size: 5rem;
  line-height: 0.9;
}

.logo-text-companion {
  font-size: 3.4rem;
  line-height: 1.1;
}

.acumin {
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
